/* Table Style */
.table-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  transition: all 0.25s ease;
  background: #fff;
  .search-area{
    display: flex;
    position: relative;
    input{width:260px;}
    .ico-close-circle-fill{
      position: absolute;
      left: 220px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      &::after {
        background-color: var(--gray-08) !important;
      }
    }
  }
  .btn-area{
    display: flex;
    align-items: center;
  }
  &.type01{
    padding: 16px;
    border-radius: 8px;
    background-color: #FAFAFA;
      &.sticky{
      margin-top: -16px;
      padding: 16px 24px;
      margin-bottom: 24px;
    }
  }
  &.sticky{
    position: sticky;
    top: 152px;
    z-index: 11;
    margin-bottom: 0;
    margin-top: -20px;
    padding: 16px 0;
  }
}  
.total-count {
  margin-bottom: 12px;
  font-size: 14px;
}
.table-content{
  border-top:0;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cfd3db;
    background-clip: padding-box;
    min-height:40px;
    border: 2px solid transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track { 
    background-color: transparent; 
  }

  table{
    background-color: #fff;
    width: 100%;      
    table-layout: fixed;     
    border-collapse: separate;
    border-spacing: 0;
  
    > * > tr > th, 
    > * > tr > td {
      position: relative;        	
      color: var(--font-color);
      line-height: 150%;
      text-align: center;        
      word-break: break-all;
      padding: 8px 12px 8px;
    }
  
    > thead > tr{
      > th{        
        height: 40px;
        padding: 0;
        font-size: 14px;
        font-weight: var(--font-strong);
        line-height: 160%;
        background-color: #EBEEF4;
        border-right: 1px solid #B7BFCD;
        border-bottom: 1px solid #B7BFCD;
        border-width: 1px 1px 1px 1px;
        &:first-child{
          border-left: 1px solid #B7BFCD;
        }
      }
      &:first-child > th{
        border-top: 1px solid #B7BFCD;
        &:first-child{
          border-top-left-radius: 12px;
        }
        &:last-child{
          border-top-right-radius: 12px;      
        }
      }
    } 
    > tbody > tr > td{        
      height: 40px;           
      font-size: 14px;
      border-right: 1px solid var(--gray-06);
      border-bottom: 1px solid var(--gray-06);
      border-width: 1px 1px 1px 1px;
      background-color: #fff;
      &:first-child{
        border-left: 1px solid var(--gray-06);
      }
      &.nodata { color: #9e9e9e; }
      &.tfoot{
        padding: 0 18px !important;    
        text-align: left;
        font-size: 14px;
        color: var(--gray-07);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      &.empty{
        background-color: #EEE;
      }
    }    
    > tbody > tr:last-child > td:first-child{
      border-bottom-left-radius: 12px;
      .input-wrap{
        border-bottom-left-radius: 12px;
        input{
          border-bottom-left-radius: 12px;
        }
      }
      .btn-table-cell{
        border-bottom-left-radius: 12px;
      }
    }
    > tbody > tr:last-child > td:last-child{
      border-bottom-right-radius: 12px;
      .input-wrap{
        border-bottom-right-radius: 12px;
        input{
          border-bottom-right-radius: 12px;
        }
      }
      .btn-table-cell{
        border-bottom-right-radius: 12px;
      }
    }
    > tbody > tr > td.th{
      background-color: var(--gray-01);
      word-break: break-word;
      padding: 11px 8px 10px;
      font-size: 14px;
    }
  }
  &.time-table{
    table > tbody > tr > td{        
      height:53px;   
    }
  }
  &.table-form {
    table > tbody > tr > td{
      padding: 0;     
      background: #fff;         
      &.empty{
        background-color: #EEE;
      }      
    }
  }
  &.table-box{
    border: 1px solid #B7BFCD;
    border-radius: 12px;
    
    &::-webkit-scrollbar:vertical {
      border-left: 1px solid #B7BFCD;
    }
    &::-webkit-scrollbar:horizontal  {
      border-top: 1px solid #B7BFCD;
    }
    &::-webkit-scrollbar-button { height:10px;background-color:transparent; }
    &::-webkit-scrollbar-corner {
      background-color: transparent; /* 원하는 색상 */
    }

    table > thead > tr:first-child > th{
      border-top: 0;
    }
    table > thead > tr> th{
      border-left: 0;
    }
    table > tbody > tr > td{
      border-left: 0;
    }
    // table > tbody > tr:last-child > td{
    //   border-bottom: 0;
    // }
    table > thead > tr:first-child > th:first-child,
    table > thead > tr:first-child > th:last-child,
    table > tbody > tr:last-child > td:first-child,
    table > tbody > tr:last-child > td:last-child{
      border-radius: 0 !important;
    }
    table > thead > tr > th:last-child,
    table > tbody > tr > td:last-child{
      border-right: 0;
    }
    &.sm-radius{      
      border-radius: 8px;
    }
  }

  // 테이블 col, row 고정
  &.sticky-wrap{
    position: relative;
    overflow: auto;
    .sticky-top {
      position: sticky;
      top: 0;
      z-index: 6;
    }  
    .sticky-left {
      position: sticky;
      left: 0;
      z-index: 5;
    }  
    .sticky-left.sticky-top {
      z-index: 7; /* 좌측+상단 셀은 맨 위 */
    }
  }
  // 시간표 테이블
  &.time-table{  
    .h4-tit{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom:10px;
      
      .period{
        font-size: 16px;
        line-height: 150%;
        color: #4778DE;
        font-weight: 700;
        i{
          margin-right: 5px;
        }
      }
    }  
  }
  // 기본 테이블
  &.basic-table{
    table{
      thead{
        th{
          background-color: #FAFAFA;
          font-size: 14px;
          font-weight: var(--font-strong);
          color: #1D1D1D;
          padding: 8px 10px;
          border-radius: 0 !important;
          border: 0;
        }
      }
      tbody{
        td{
          font-size: 14px; 
          padding: 11px 10px;
          border-bottom-width: 0;
          border-right-width: 0;
          border-radius: 0 !important;
          //border-right-color: #EEEEEE;
          border-top: 1px solid #EEEEEE;
        }  
      }
      th:first-child,
      td:first-child{border-left-width: 0;}
      th:last-child,
      td:last-child{border-right-width: 0;}
      thead > tr:first-child > th{border-top-width: 0;}
      tbody > tr:last-child > td{
        border-bottom: 1px solid #EEEEEE;
      }
    }
  } 
  &.table-view{
    table{
      background-color: transparent;
      border-top:2px solid var(--navy);
      th,
      td{
        border-right: 0 !important;
        border-left: 0 !important;
        border-bottom: 1px solid var(--gray-06);
        text-align: left;
        border-radius: 0 !important;
      } 
      th{font-weight: var(--font-strong);}
    }
  }

  &.lg{
    table{
      > * > tr > td {
        padding: 11px 16px 10px;
      }
      > thead > tr > th,
      > tbody > tr > td{        
        height:44px;
        font-size: 15px;
      }
      > thead > tr{
        &:first-child > th{
          &:first-child{
            border-top-left-radius: 15px;
          }
          &:last-child{
            border-top-right-radius: 15px;          
          }
        }
      } 
      > tbody > tr > td{     
        &.tfoot{
          
          border-bottom-right-radius: 15px !important;
          border-bottom-left-radius: 15px !important;
        }
      }    
      > tbody > tr:last-child > td:first-child{
        border-bottom-left-radius: 15px;
        .input-wrap{
          border-bottom-left-radius: 15px;
        }
        .btn-table-cell{
          border-bottom-left-radius: 15px;
        }
      }
      > tbody > tr:last-child > td:last-child{
        border-bottom-right-radius: 15px;
        .input-wrap{
          border-bottom-right-radius: 15px;
        }
        .btn-table-cell{
          border-bottom-right-radius: 15px;
        }
      }    
    }
    &.time-table{
      table > tbody > tr > td{        
        height:56px;   
      }
    }
    &.table-box{
      border-radius: 15px;
    }
  } 
  &.sm{
    table{
      > * > tr > td {
        padding: 8px 12px 8px;
      }
      > thead > tr > th,
      > tbody > tr > td{        
        height:40px;   
        font-size: 14px;
      }
      > thead > tr{
        &:first-child > th{
          &:first-child{
            border-top-left-radius: 10px;
          }
          &:last-child{
            border-top-right-radius: 10px;
          }
        }
      } 
      > tbody > tr > td{     
        &.tfoot{
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }    
      > tbody > tr:last-child > td:first-child{
          border-bottom-left-radius: 10px;
        .input-wrap{
          border-bottom-left-radius: 10px;
        }
        .btn-table-cell{
          border-bottom-left-radius: 10px;
        }
      }
      > tbody > tr:last-child > td:last-child{
        border-bottom-right-radius: 10px;
        .input-wrap{
          border-bottom-right-radius: 10px;
        }
        .btn-table-cell{
          border-bottom-right-radius: 10px;
        }
      }    
    }
    &.time-table{
      table > tbody > tr > td{        
        height:56px;   
      }
    }
    &.table-box{
      border-radius: 8px;
    }
  } 
}  
.tb-row{
  container-type: inline-size;
  container-name: tb-container;
  display: flex;
  flex-wrap: wrap;
  gap:32px;
  min-width: 100%;
  .tb-col{
    width: calc(50% - 16px);   
  }
  @container tb-container (max-width: 1170px) {
    .tb-col{
      width: 100%;   
    }
  }
}