.datetime-picker-popup {
  width: 33px;
  height: 33px;
}

.datetime-picker-wrap {
  position: relative;
  width: 200px;
}
.datetime-picker-wrap input.disabled {
  background-color: var(--bg-neutral-base);
  cursor: not-allowed;
}
.datetime-picker-wrap input.disabled i {
  background-color: var(--bg-neutral-strong);
}
.datetime-picker-wrap input.disabled span {
  color: var(--text-neutral-base);
}
.datetime-picker-wrap input:-moz-read-only:not(:disabled) {
  background-color: var(--bg-base);
}
.datetime-picker-wrap input:read-only:not(:disabled) {
  background-color: var(--bg-base);
}
.datetime-picker-wrap input:-moz-read-only:not(:disabled):focus {
  background-color: var(--control-secondary-subtlest);
  border-color: var(--control-secondary-subtle);
}
.datetime-picker-wrap input:read-only:not(:disabled):focus {
  background-color: var(--control-secondary-subtlest);
  border-color: var(--control-secondary-subtle);
}
.datetime-picker-wrap input:focus {
  background-color: var(--control-secondary-subtlest);
  border-color: var(--control-secondary-subtle);
}
.datetime-picker-wrap .msg {
  position: absolute;
}
.datetime-picker-wrap :global .ico-calendar {
  position: absolute;
  right: 10px;
  top: 10px;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

.calendar {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 336px !important;
  background-color: var(--bg-base);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  z-index: 100000;
}
:global(.opt-top) .calendar {
  top: auto;
  bottom: calc(100% + 4px);
  left: 0;
}
:global(.opt-left) .calendar {
  top: 0;
  left: auto;
  right: calc(100% + 4px);
}
:global(.opt-right) .calendar {
  top: 0;
  left: calc(100% + 4px);
}
:global(.opt-bottom) .calendar {
  top: calc(100% + 4px);
  left: 0;
  bottom: auto;
}

.calendar .calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  background-color: var(--bg-secondary-base);
  color: white;
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 4px 4px 0 0;
}

.calendar .calendar-header i {
  background-color: transparent !important;
  cursor: pointer;
}

.calendar .calendar-header span {
  color: white;
  font-family: Spoqa Han Sans Neo;
  font-weight: var(--font-weight-medium);
  font-size: 18px;
}

.calendar .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 32px;
  padding: 8px 8px 16px 8px;
  font-weight: var(--font-weight-regular);
}

.calendar .calendar-grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.calendar .time-picker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 54px;
  padding: 10px 10px 10px 16px;
  font-size: 12px;
}

.calendar .time-picker > * {
  margin-right: 8px;
}

.calendar .time-picker .selected-date {
  background: var(--bg-neutral-base);
  border: solid 1px var(--border-neutral-subtle);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 14px;
  border-radius: 4px;
}

.calendar .time-picker .select-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.calendar .calendar-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px 16px 8px;
}

.calendar .calendar-cell.weekend {
  color: var(--text-neutral-strong);
}

.calendar .calendar-cell.today {
  color: var(--text-secondary-base);
}

.calendar .calendar-cell.selected::before {
  background-color: var(--border-neutral-base);
  Content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1px;
  left: 8px;
  border-radius: 50%;
}

.calendar .calendar-cell span {
  z-index: 1;
}

.calendar .calendar-footer button {
  width: 150px;
  height: 36px;
  font-size: 15px;
}

.calendar .calendar-footer .cancel-btn {
  border: 1px solid var(--border-neutral-base);
}/*# sourceMappingURL=datetimePicker.module.css.map */