
// 시수 누계 관리 탭
.lessonStatsManagement{
  height:100%;
  display: flex;
  flex-flow: column;
  :global(.tb-row){
    margin: 0;
    flex-wrap: nowrap;
    flex-grow: 1;
    min-height: 0;
    gap: 20px;
    :global(.table-content.date-check){
      width: 20%;
      min-width: 185px;
      height: 460px;
      th{
        background-color: var(--bg-neutral-subtlest);
        border-bottom: 1px solid var(--border-neutral-subtler);
        padding: 8px 16px;
      }
      td{     
        padding: 8px;     
      }
      tr:first-child td{
        border-top:0;
      }
      & + :global(.table-content){
        flex-grow: 1;
        max-height: fit-content;
      }
    }    
  }
}
