div.room-picker {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  position: absolute;
  top: 58px;
  left: 1px;
  width: calc(100% - 1px);
  height: 384px;
  background-color: #F8F9FC;
  z-index: 1000;
  border-radius: 0 0 5px 5px;
  border-top: solid 1px #ECECEC;
}

div.room-list {
  display: flex;
  flex-direction: column;
  height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}
.room-list::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.room-list::-webkit-scrollbar-thumb {
  background-color: #cfd3db;
  background-clip: padding-box;
  min-height:40px;
  border: 2px solid transparent;
  border-radius: 10px;  
}
.room-list::-webkit-scrollbar-track { 
  background-color: transparent; 
}

.room-list :global(.check-item) {
  height: 66px;
  padding: 12px;
  border-bottom: solid 1px #ECECEC;
  gap: 4px;
}

.room-list :global(.room-item) {
  height: 42px;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  overflow: hidden;
}

.room-list :global(.room-item img) {
  width: 28px;
  height: 28px;
}

.room-list :global(.room-item .title) {
  overflow: hidden;
}

.room-list .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  color: #999;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 12px;
  border-top: 1px solid #eee;
  align-items: center;
  padding: 12px 26px 12px 26px;
}

.footer button {
  width: 100px;
  height: 32px;
}
