@charset "UTF-8";
html, body { height: 100%; }
.note-edit-wrap {
    min-width: 1024px;
    height: 100%;
    background-color: #fff;
    z-index: 15;
}
.note-edit-inner {
    height: 100%;
}

/**************************** top area *************************/
.note-edit-wrap .title-wrap .title-top-wrap {
    position: relative;
    height: 60px;
    z-index: 2;
    border-bottom: 1px solid #eaeaea;
    background-color: #FFFFFF;
}
.note-edit-wrap .title-wrap {
    z-index: 9999;
    position: relative;
}
.note-edit-wrap .title-wrap .guide-text {
    z-index: 1000;
    position: absolute;
    background-color: rgba(71,120,222,.9);
    padding: 8px 10px;
    border-radius: 40px;
    animation: hideGuideText .8s ease-out 1 forwards;
    -webkit-animation: hideGuideText .8s ease-out 1 forwards;
}
.note-edit-wrap .title-wrap .guide-text span {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
}
.note-edit-wrap .title-wrap .guide-text::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom: 0;
    border-top: 6px solid rgba(71, 120, 222, .9);
    bottom: -6px;
    left: 12px;
}
@keyframes hideGuideText {
    0% {opacity: 1;visibility: visible;}
    100% {opacity: 0;visibility: hidden;}
}
@-webkit-keyframes hideGuideText {
    0% {opacity: 1;}
    99% {opacity: 0;}
    100% {opacity: 0;z-index: -1;}
}
.note-edit-wrap .title-top-wrap .left-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0 0 0 20px;
    max-width: 42%;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap {
    width: auto;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap .selected-option {
    border: 0;
    padding-left: 0;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap .selected-option:hover {
    background: #fff;
    color: #3867c6;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap.dis .selected-option {
    background: #fff !important
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap.dis .selected-option::after {
    content: none;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap .option-list-wrap {
    overflow: hidden;
    height: auto;
    max-height: 200px;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap .option-list-wrap .scrollbar-outer {
    max-height: 200px;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap .option-list-wrap li .option-item {
    height: auto;
    white-space: normal;
    line-height: 1.4;
    padding: 10px;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap .tit-school-class {
    height: auto;
}
.note-edit-wrap .title-top-wrap .left-wrap .border-selectbox-wrap .tit-school-class > div {
    white-space: normal;
}
.note-edit-wrap .title-top-wrap .left-wrap .checkbox-wrap {
    display: inline-block;
    font-size: 0;
}
.note-edit-wrap .title-top-wrap .left-wrap .checkbox-wrap label {
    margin: 2px 25px 2px 0;
}
.note-edit-wrap .title-top-wrap .left-wrap .checkbox-wrap label span {
    color: #000;
}
.note-edit-wrap .title-top-wrap .center-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap {
    font-size: 0;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .calendar-icon-btn {
    width: 24px;
    height: 24px;
    background: url("../img/icon_calendar_24.png");
    margin-right: 5px;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .calendar-icon-btn:hover {
    background-position: -24px 0;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .calendar-icon-btn.dis {
    background-position: -48px 0;
}
.note-edit-wrap  .title-top-wrap .center-wrap .date-cont-wrap .date-wrap {
    margin: 0 0;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-wrap > * {
    display: inline-block;
    vertical-align: middle;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-wrap .date {
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-wrap button {
    width: 24px;
    height: 24px;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-wrap button:hover {
    background-position: -28px 0;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-wrap button.dis {
    background-position: -56px 0;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-wrap .prev-btn {
    background-image: url("../img/icon_note_calendar_arr_perv_24.png");
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-wrap .next-btn {
    background-image: url("../img/icon_note_calendar_arr_next_24.png");
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-edit a {
    display: inline-block;
    padding: 0 5px;
    color: #999;
    text-decoration: underline;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .date-edit a + .today-btn {
    padding-right: 0px !important;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .today-btn {
    width: 54px;
    height: 36px;
    border-radius: 18px;
    font-size: 14px;
}
.note-edit-wrap .title-top-wrap .center-wrap .date-cont-wrap .today-btn-cancel {
    padding: 0 7px;
    height: 28px;
    border-radius: 18px;
    font-size: 14px;
    margin: 0 8px;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup {
    display: none;
    position: absolute;
    top: -6px;
    left: 0;
    width: 366px;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    overflow: hidden;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .popup-calendar-wrap {
    border: 0;
    box-shadow: none;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap .note-list-title {
    height: 28px;
    line-height: 28px;
    padding: 0 0 0 12px;
    background: rgba(0, 0, 0, 0.1);
    color: #888;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap ul {
    max-height: 220px;
    overflow-y: scroll;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap ul li:hover {
    background: #ecf3ff;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 12px 0 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap ul li.temporary-save a {
    color: #999;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap .new-note-btn {
    width: 100%;
    height: 40px;
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap .new-note-btn::before {
    width: 18px;
    height: 18px;
    margin: 0 3px 0 0;
    background: url("../img/icon_calendar_add_18.png");
}
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap .new-note-btn span { color: #3867c6; }
.note-edit-wrap .title-top-wrap .center-wrap .note-calendar-popup .note-list-wrap .new-note-btn:hover {
    background: #ecf3ff;
}
.note-edit-wrap .title-top-wrap .right-wrap {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -18px;
    font-size: 0;
}
.note-edit-wrap .title-top-wrap .right-wrap .go-my-class-btn {
    width: 176px;
    height: 36px;
    line-height: 34px;
    border-radius: 18px;
    vertical-align: middle;
    margin-right: 20px;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn {
    width: 24px;
    height: 24px;
    background: url("../img/icon_note_zoom_24.png");
    vertical-align: middle;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn .guide-text {
    width: 200px;
    right: 32px;
    top: -5px;
    line-height: 30px;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn .guide-text::before {
    top: 50%;
    left: 100%;
    border: 6px solid  transparent;
    border-left: 6px solid rgba(71, 120, 222, .9);
    margin-top: -6px;
    margin-left: -1px;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn .tooltip {
    right: -18px;
    top: 35px;
    padding: 5px;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn .tooltip::before {
    display: none;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn .tooltip span {
    display: inline-block;
    font-size: 12px;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn:hover {
    background-position: -24px 0;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn:not(.on):hover .zoom-in {
    display: block;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn.dis {
    background-position: -48px 0;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn.on {
    background: url("../img/icon_note_zoom_on_24.png");
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn.on:hover {
    background-position: -24px 0;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn.on:hover .zoom-out {
    display: block;
}
.note-edit-wrap .title-top-wrap .right-wrap .zoom-btn.on.dis {
    background-position: -48px 0;
}
.note-edit-wrap .title-wrap .title-btm-wrap {
    height: 50px;
    padding: 9px 0;
    background: #fff;
}
.note-edit-wrap .title-btm-wrap .left-wrap {
    float: left;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
}
.note-edit-wrap .title-btm-wrap .left-wrap .hi-selectbox {
    width: 200px; 
    margin-left: 10px;
    margin-right: 24px;
}
.note-edit-wrap .title-btm-wrap .left-wrap .hi-selectbox .selected {
    height: 36px;
    line-height: 34px;
}
.note-edit-wrap .title-btm-wrap .left-wrap > * {
    display: inline-block;
    vertical-align: middle;
}
.note-edit-wrap .title-btm-wrap .left-wrap .checkbox-wrap {
    margin: 0 20px 0 0;
    line-height: 32px;
}
.note-edit-wrap .title-btm-wrap .left-wrap .checkbox-wrap label span {
    margin: 0 0 0 9px;
    color: #000;
}
.note-edit-wrap .title-btm-wrap .left-wrap .border-selectbox-wrap {
    min-width: 150px;
    margin: 0 0 0 8px;
}
.note-edit-wrap .title-btm-wrap .left-wrap .border-selectbox-wrap:last-child {
    min-width: 100px;
}
.note-edit-wrap .title-btm-wrap .left-wrap .border-selectbox-wrap .option-list-wrap li .option-item {
    padding: 0 20px;
}
.note-edit-wrap .title-btm-wrap .right-wrap {
    float: right;
    padding: 0 20px 0 0;
    font-size: 0;
}
.note-edit-wrap .title-btm-wrap .right-wrap > div,
.note-edit-wrap .title-btm-wrap .right-wrap > button {
    display: inline-block;
    vertical-align: middle;
}
.note-edit-wrap  .title-btm-wrap .right-wrap button {
    padding: 0 10px 0 4px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    margin-left: 8px;
}
.note-edit-wrap .title-btm-wrap .right-wrap button::before {
    width: 24px;
    height: 24px;
}
.note-edit-wrap .title-btm-wrap .right-wrap button span {
    line-height: 30px;
}
.note-edit-wrap .title-btm-wrap .right-wrap button:not(.group-photo-btn) {
    width: 120px;
    padding: 0 5px 0 0;
}
.note-edit-wrap .title-btm-wrap .right-wrap button.group-photo-btn {
    position: relative;
    overflow: visible;
}
.note-edit-wrap .title-btm-wrap .right-wrap button.group-photo-btn::before {
    width: 18px;
    height: 18px;
    background: url("../img/icon_upload_photo_plus_24.png");
    border: 1px dashed #ccc;
    background-size: cover;
    margin: 0 4px;
}
.note-edit-wrap .title-btm-wrap .right-wrap button.group-photo-btn .guide-text {
    visibility: hidden;
    opacity: 0;
    bottom: -52px;
    left: -10px;
    animation: hideShowHideGuideText 16s ease-out 1 forwards;
    -webkit-animation: hideShowHideGuideText 16s ease-out 1 forwards;
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}
.note-edit-wrap .title-btm-wrap .right-wrap button.group-photo-btn .guide-text::before {
    top: -6px;
    border-top: 0;
    border-bottom: 6px solid rgba(71, 120, 222, .9);
}
@keyframes hideShowHideGuideText {
    0%, 33%  {opacity: 0;visibility: hidden;}
    40%, 66% {opacity: 1;visibility: visible;}
    73%, 100% {opacity: 0;visibility: hidden;}
}
@-webkit-keyframes hideShowHideGuideText {
    0%, 33%  {opacity: 0;visibility: hidden;}
    40%, 66% {opacity: 1;visibility: visible;}
    73%, 100% {opacity: 0;visibility: hidden;}
}
.note-edit-wrap .title-btm-wrap .right-wrap button.group-photo-btn .guide-text::before {
    left: 22px;
}
.note-edit-wrap .title-btm-wrap .right-wrap button.attach-file-btn::before {
    background: url("../img/icon_file_clip_24.png");
}
.note-edit-wrap .title-btm-wrap .right-wrap button.weekly-schedule-btn::before {
    background: url("../img/icon_schedule_24.png");
}
.note-edit-wrap .title-btm-wrap .right-wrap button.often-use-phrases-btn::before {
    background: url("../img/icon_star_b_24.png");
    /* animation: oftenUsePhrasesBtn .8s 12s ease-out 1 forwards;
    -webkit-animation: oftenUsePhrasesBtn .8s 12s ease-out 1 forwards; */
}
/* @keyframes oftenUsePhrasesBtn {
    0% {background: url("../img/icon_star_b_24.gif");}
    25% {background: url("../img/icon_star_b_24.gif");}
    50% {background: url("../img/icon_star_b_24.gif");}
    75% {background: url("../img/icon_star_b_24.gif");}
    100% {background: url("../img/icon_star_b_24.png");}
}
@-webkit-keyframes oftenUsePhrasesBtn {
    0% {background: url("../img/icon_star_b_24.gif");}
    25% {background: url("../img/icon_star_b_24.gif");}
    50% {background: url("../img/icon_star_b_24.gif");}
    75% {background: url("../img/icon_star_b_24.gif");}
    100% {background: url("../img/icon_star_b_24.png");}
} */
.note-edit-wrap .title-btm-wrap .right-wrap > .border-selectbox-wrap {
    width: 120px;
    margin-left: 8px;
}
.note-edit-wrap .title-btm-wrap .right-wrap > .border-selectbox-wrap .selected-option {
    padding: 0 24px 0 30px;
}
.note-edit-wrap .title-btm-wrap .right-wrap > .border-selectbox-wrap .selected-option::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    background: url("../img/icon_bell_24.png");
}
.note-edit-wrap .title-btm-wrap .right-wrap > .border-selectbox-wrap .selected-option .option-val {
    height: 30px;
    line-height: 30px;
}
.note-edit-wrap .title-btm-wrap .border-selectbox-wrap .option-list-wrap {
    height: 188px;
    overflow: auto;
}
.note-edit-wrap .title-btm-wrap .border-selectbox-wrap .option-list-wrap li .option-item {
    height: auto;
    line-height: 1.4;
    padding: 10px 10px 10px 15px;
    white-space: normal;
}
.note-edit-wrap .title-btm-wrap .right-wrap .often-use-phrases-popup {
    display: none;
    position: fixed;
    width: 504px;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap {
    /* padding: 27px 0 16px 0; */
    height: 103px;
    position: relative;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .title {
    font-size: 20px;
    font-weight: 700;
    color: #2E2E2E;
    text-align: center;
    padding-top: 40px;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .title-info-message {
    font-size: 15px;
    font-weight: 400;
    color: #616161;
    text-align: center;
    padding-top: 10px;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .modal-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    background: url("../img/icon/icon_modal_close.svg") no-repeat;
    cursor: pointer;
}
.note-edit-wrap .often-use-phrases-popup .select-wrap {
    padding: 10px 28px 15px 28px;
}
.note-edit-wrap .often-use-phrases-popup .select-wrap .border-selectbox-wrap .selected-option {
    border: 1px solid #E0E0E0;
    height: 40px;
}
.note-edit-wrap .often-use-phrases-popup .select-wrap .border-selectbox-wrap .selected-option .option-val {
    height: 40px;
    line-height: 38px;
}
/* .note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap {
    margin: 0 auto;
    text-align: center;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap .selected-option {
    border: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: auto;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap .selected-option:hover {
    background-color: #fff;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap .selected-option .option-val {
    display: inline-block;
    height: auto;
    line-height: 1;
    max-width: 400px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap .selected-option::after {
    position: static;
    display: inline-block;
    margin: 0 0 0 7px;
    vertical-align: middle;
    transform: none;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap .selected-option:hover .option-val {
    color: #3867c6;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap .option-list-wrap {
    width: 248px;
    height: 188px;
    overflow: auto;
    right: 0;
    margin: 0 auto;
    text-align: left;
    top: 28px;
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap .option-list-wrap.opt-max-height {
    max-height: 188px;
    height: auto
}
.note-edit-wrap .often-use-phrases-popup .top-wrap .border-selectbox-wrap.selected .option-val {
    color: #3867c6;
    font-weight: bold;
} */
.note-edit-wrap .often-use-phrases-popup .btm-wrap {
    height: 335px;
    overflow: auto;
    padding: 16px 28px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li + li {
    margin: 4px 0 0 0;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li:last-child {
    margin-bottom: 4px;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li .inner {
    position: relative;
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
    background: #eceded;
    line-height: 17px;
    font-size: 14px;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li .inner > div { word-break: break-all; }
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li .inner .delete-btn {
    display: none;
    position: absolute;
    top: 7px;
    right: 6px
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li .inner.type-green {
    padding-right: 36px;
    background: #e9f2e4;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li .inner.type-green .delete-btn {
    display: block;
    position: absolute;
    top: 7px;
    right: 6px;
    border: 0;
    width: 24px;
    height: 24px;
    background: url("../img/icon_delete_list_24.png")
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap ul li .inner:hover {
    background-color: #ecf3ff;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap::-webkit-scrollbar {
    width: 6px;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap::-webkit-scrollbar-track {
    background: #EAEAEA;
    border-radius: 50px;
}
.note-edit-wrap .often-use-phrases-popup .btm-wrap::-webkit-scrollbar-thumb {
    background: #567bc8;
	min-height:40px;
    background-clip: padding-box;
    border-radius: 50px;
    border-top: 0;
    border-bottom: 0;
}
/* .note-edit-wrap .often-use-phrases-popup .register-wrap {
    padding: 16px 28px;
} */
.note-edit-wrap .often-use-phrases-popup .register-wrap .input-cont-wrap {
    padding: 16px 28px;
    font-size: 0;
}
.note-edit-wrap .often-use-phrases-popup .register-wrap .input-cont-wrap > * {
    display: inline-block;
    vertical-align: middle;
}
.note-edit-wrap .often-use-phrases-popup .register-wrap .input-cont-wrap .input-box-wrap {
    width: 412px;
    height: 40px;
}
.note-edit-wrap .often-use-phrases-popup .register-wrap .input-cont-wrap .add-btn {
    width: 24px;
    height: 24px;
    margin: 0 0 0 12px;
    border: 0;
    background: url("../img/icon_circle_plus_24.png");
}
.note-edit-wrap .often-use-phrases-popup .register-wrap .input-cont-wrap .add-btn:hover {
    background-position: -24px 0;
}
.note-edit-wrap .often-use-phrases-popup .register-wrap .input-cont-wrap .add-btn.dis:hover {
    background-position: -48px 0;
}
/**************************** content area *************************/
.note-edit-wrap .note-cont-wrap {
    height: calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    background: url("../img/bg/bg_black_board.png") center center no-repeat !important; /* ginger (크롬 확장프로그램) issue */
    background-size: cover !important; /* ginger (크롬 확장프로그램) issue */
}
.note-edit-wrap .note-cont-wrap textarea {
    padding: 40px 40px 0 40px;
    border: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    overflow: auto;
}
.note-edit-wrap .note-cont-wrap textarea:hover {
    background: transparent !important;
}
.note-edit-wrap .note-cont-wrap textarea::placeholder {
    color: #aab8b9;
    font-weight: 400;
}
.note-edit-wrap .note-cont-wrap textarea::-ms-input-placeholder {
    color: #aab8b9;
    font-weight: 400;
}
.note-edit-wrap .note-cont-wrap .attaching-file-list-wrap {
    background: rgba(0, 0, 0, 0.3);
    border: 0;
}
.note-edit-wrap .note-cont-wrap .attaching-file-list-wrap .attaching-file {
    cursor: pointer;
}
.note-edit-wrap .note-cont-wrap .attaching-file-list-wrap .attaching-file:hover {
    background: #fff;
}
.note-edit-wrap .note-cont-wrap .attaching-file-list-wrap .attaching-file .delete-btn:hover {
    background-color: #e3e3e3;
    border-radius: 50%;
}
.note-edit-wrap .note-cont-wrap.type2 textarea {
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
}
.note-edit-wrap .note-cont-wrap .border-selectbox-wrap .option-list-wrap {
    z-index: 3;
}

/**************************** bottom area *************************/
.note-edit-wrap .footer-wrap {
    position: relative;
    background: #fff;
    height: 60px;
}
.note-edit-wrap .footer-wrap .left-wrap {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -18px;
}
.note-edit-wrap .footer-wrap .left-wrap button {
    margin: 0 9px 0 0;
    padding: 0 16px 0 16px;
    height: 36px;
    border-radius: 18px;
    font-size: 13px;
}
.note-edit-wrap .footer-wrap .left-wrap button::before {
    width: 18px;
    height: 18px;
    margin: 0 4px 0 0;
}
.note-edit-wrap .footer-wrap .left-wrap button.print::before {
    background: url("../img/icon_print_18.png");
}
.note-edit-wrap .footer-wrap .left-wrap button.download::before {
    background: url("../img/icon_download_18.png");
}
.note-edit-wrap .footer-wrap .right-wrap {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -18px;
    font-size: 0;
}
.note-edit-wrap .footer-wrap .right-wrap > * {
    display: inline-block;
    vertical-align: middle;
}
.note-edit-wrap .footer-wrap .right-wrap .last-save-date {
    color: #2e2e2e;
    font-size: 14px;
}
.note-edit-wrap .footer-wrap .right-wrap button {
    margin: 0 0 0 8px;
    width: 168px;
    height: 36px;
    border-radius: 18px;
    font-size: 14px;
}

/**************************** zoom on area *************************/
.note-edit-wrap.on .title-top-wrap .left-wrap .checkbox-wrap {
    display: none;
}
.note-edit-wrap.on .title-btm-wrap {
    display: none;
}
.note-edit-wrap.on .footer-wrap {
    display: none;
}

.note-edit-wrap.on .note-cont-wrap {
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
}
.note-edit-wrap.on .note-cont-wrap textarea {
    height: 100%;
}
.note-edit-wrap.on .attaching-file-list-wrap {
    display: none;
}

.note-edit-wrap .font-size-range {
    display: none;
    z-index: 1;
    position: fixed;
    width: 400px;
    height: 14px;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 86px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.6);
    border: 0 !important;
}
.note-edit-wrap.on .font-size-range {
    display: block;
}
.note-edit-wrap .font-size-range .ui-slider-range {
    border-radius: 14px;
    background: var(--primary);
}
.note-edit-wrap .font-size-range .ui-slider-handle {
    display: block;
    position: relative;
    top: -8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background: #fff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.24);
    outline: none;
    z-index: 1;
}
.note-edit-wrap .font-size-range .ui-slider-handle:hover {
    background: #f0f0f0;
    cursor: pointer;
}
.note-edit-wrap .font-size-range .ui-slider-handle:hover::before {
    content: "";
    position: absolute;
    top: -46px;
    left: -35px;
    width: 100px;
    height: 39px;
    background: url("../img/font_range_text_100_39.png");
}
.note-edit-wrap .font-size-range.ui-state-disabled {
    opacity: 1;
}
.note-edit-wrap .font-size-range.ui-state-disabled .ui-slider-handle {
    background: #ccc;
}
.note-edit-wrap .font-size-range.ui-state-disabled .ui-slider-handle:hover {
    cursor: default;
}
.note-edit-wrap .font-size-range.ui-state-disabled .ui-slider-handle:hover::before {
    content: none;
}
.note-cont-wrap .font-size-range.ui-slider {
    z-index: 1;
}

/**************************** editor *************************/
.note-cont-wrap .fr-box .fr-second-toolbar {
    display: none;
}
.note-cont-wrap .fr-box .fr-wrapper {
    border: 0 !important;
    overflow-y: auto;
    background: url("../img/bg/bg_black_board.png") center center no-repeat !important; /* ginger (크롬 확장프로그램) issue */
    background-size: cover !important; /* ginger (크롬 확장프로그램) issue */
}
.note-cont-wrap .fr-box .fr-wrapper ::selection {
    background-color: rgba(181, 214, 253, .5);
}
.note-cont-wrap .fr-box .fr-wrapper .fr-view {
    overflow: auto;
    color: white !important;
}
.note-cont-wrap .fr-box .fr-wrapper .fr-view * {
    color: inherit;
    font-family: var(--font-body);
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.4;
    letter-spacing: 0.3px;
}
.note-cont-wrap .fr-box .fr-wrapper .fr-view > p {
    font-weight: 400;
}
.note-cont-wrap .fr-box .fr-wrapper .fr-view a,
.note-cont-wrap .fr-box .fr-wrapper .fr-view a * {
    color: #fff !important;
    text-decoration: underline !important;
}
.note-cont-wrap .fr-box .fr-wrapper .fr-view strong,
.note-cont-wrap .fr-box .fr-wrapper .fr-view strong * {
    font-weight: bolder !important;
}
.note-cont-wrap .fr-box .fr-wrapper .fr-view u {
    text-decoration: underline;
    text-underline-position: under;
}
.note-cont-wrap .fr-toolbar {
    border-radius: 0 !important;
}
.note-cont-wrap .fr-toolbar #fontFamily-1 {
    width: 168px !important;
}
.note-cont-wrap .fr-toolbar #fontSize-1 {
    width: 72px !important;
}
.fr-box .fr-video-resizer,
.fr-image-resizer {
    z-index: 9999;
}
.fr-popup {
    margin-top: 320px;
}
.note-cont-wrap .fr-popup {
    margin-top: 10px;
}
.fr-view .fr-video.fr-dvb {
    display: table;
    margin: 0 auto;
    float: none;
}
/* modified editor toolbar style */
.note-cont-wrap .fr-toolbar .fr-btn-grp {
    margin: 0 0 0 12px;
}
.note-cont-wrap .fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-selection span { font-weight: 500; }
.note-cont-wrap .fr-command.fr-btn.fr-active+.fr-dropdown-menu {
    margin-top: 5px;
}
.note-cont-wrap .fr-toolbar.fr-top {
    background-color: rgba(255,255,255,.8);
    border-color: rgba(255, 255, 255, .8);
}
.note-cont-wrap .fr-toolbar .fr-newline {
    background-color: transparent;
}
.note-cont-wrap .fr-toolbar .fr-command.fr-btn.fr-dropdown:after {
    right: 10px;
}
.note-cont-wrap .fr-command.fr-btn+.fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a {
    padding: 0 10px;
}
.note-cont-wrap .fr-toolbar span.custom-button-title.font-size-v2 {
    width: 60px;
    font-size: 15px;
    padding: 0 0 0 5px;
}
/* modal 브라우저 비율에 따라 스크롤 나타남 방지 */
.modal.note-notice-modal .modal-cont-wrap {
    overflow-x: hidden;
}

/* ie */
@media all and (-ms-high-contrast:none) {
    .note-cont-wrap .fr-element * {
        font-size: 1em;
    }
    .fr-box .fr-video-resizer,
    .fr-image-resizer {
        margin-top: 0;
        zoom: 1;
    }
    .note-cont-wrap .fr-element * {
        font-size: inherit;
    }
}

.note-cont-wrap .fr-box .fr-video.fr-active video {
    z-index: 9999;
    position: relative;
}


.info-safe-wrap-2 {
    width: 747px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #00000033;
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
}
.info-safe-wrap-2 .words-setting {
    width: 145px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
    cursor: pointer;
    border-right: 1px solid #E0E0E0;
    padding-left: 16px;
    padding-right: 10px;
}
.info-safe-wrap-2 .words-setting i.setting-blue {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icon/icon_setting_blue.png) center no-repeat;
    margin-left: 6px;
}

.info-safe-wrap-2 .message-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;
    width: 600px;
}
.info-safe-wrap-2 .message-wrap .message {
    display: inline-block;
    width: 539px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: #9E9E9E;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.info-safe-wrap-2 .message-wrap .message.onMessage {
    font-size: 14px;
    font-weight: 400;
    color: #222;
}
.info-safe-wrap-2 .message-wrap .message.noMessage {
    font-size: 14px;
    font-weight: 400;
    color: #cbcbcb;
}
.info-safe-wrap-2 .message-wrap i.refresh {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icon/icon_refresh.png) center no-repeat;
    margin-left: 4px;
    cursor: pointer;
}

.info-safe-wrap-2 div.words-info-show {
    position: absolute;
    top: -70px;
    right: -360px;
    width: 418px;
    height: 66px;
    border-radius: 4px;
    background: #3d4655;
    z-index: 1000;
}
.info-safe-wrap-2 div.words-info-show:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 28px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #3D4655;
	border-bottom: 0;
	margin-left: -6px;
	margin-bottom: -6px;
}
.info-safe-wrap-2 div.words-info-show div.message-box {
   position: relative;
}
.info-safe-wrap-2 div.words-info-show div.message-box span.message {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 12px 15px; 
    color: #fff;
}
.info-safe-wrap-2 div.words-info-show div.message-box span.message span.warning {
    font-size: 12px;
    font-weight: 400;
    color: #FFD97A;
}
.info-safe-wrap-2 div.words-info-show div.message-box i.close {
    position: absolute;
    top: 6px;
    right: 6px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background:url('../img/icon_modal_close_w_24.png') -0px -0px/42px auto no-repeat;
    cursor: pointer;
}

#safeNoteEditorModal {
    background: rgba(0,0,0,0.7);
}
#safeNoteEditorModal .modal-cont-wrap {
    overflow-y: auto;
}
#safeNoteEditorModal .modal-cont {
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}