@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
.offerwall-wrap {
  min-height: 100%;
}
.offerwall-wrap .navbar {
  height: 60px;
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 9;
}
.offerwall-wrap .navbar .navbar-brand {
  width: calc((100% - 1140px) / 2);
  margin: 0 0 2px 0;
}
.offerwall-wrap .navbar .navbar-brand img {
  width: 80px;
}
.offerwall-wrap .navbar .navbar-collapse .nav-item + .nav-item {
  margin-left: 30px;
}
.offerwall-wrap .navbar .navbar-collapse .nav-item + .nav-item.active a {
  font-weight: 500;
}
.offerwall-wrap .navbar .navbar-collapse .nav-item a {
  font-size: 18px;
}
@media screen and (max-width: 1400px) {
  .offerwall-wrap .navbar .navbar-brand {
    width: 120px;
    text-align: left;
  }
}
.offerwall-wrap .container {
  min-height: calc(100dvh - 60px);
  background: #fff;
  padding: 40px 30px;
}
.offerwall-wrap .title-wrap h2 {
  font-size: 25px;
}
.offerwall-wrap .form-area {
  margin: 20px 0 30px;
  background: #f5f5f5;
  padding: 20px 20px 10px;
  border-radius: 5px;
}
.offerwall-wrap .form-area .row {
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 10px;
}
.offerwall-wrap .form-area .row [class^=col] {
  padding-right: 5px;
  padding-left: 5px;
}
.offerwall-wrap .form-area select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(~@/assets/img/icon/ic_arrowdown_16.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}
.offerwall-wrap .form-area .input-calendar {
  position: relative;
}
.offerwall-wrap .form-area .input-calendar input {
  padding-right: 28px;
}
.offerwall-wrap .form-area .input-calendar > i {
  position: absolute;
  right: 10px;
  top: calc(50% - 5px);
  color: #666;
}
.offerwall-wrap .form-area .input-calendar.input-group .input-group-prepend button i,
.offerwall-wrap .form-area .input-calendar.input-group .input-group-append button i {
  font-size: 10px;
}
.offerwall-wrap .result-wrap {
  margin-bottom: 10px;
}
.offerwall-wrap .result-wrap .result-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.offerwall-wrap .result-wrap .result-title .tit {
  font-size: 18px;
  font-weight: 500;
}
.offerwall-wrap .result-wrap .result-title .btns .btn-excel {
  margin-left: 10px;
}
.offerwall-wrap .result-wrap .result-title .btns .btn-excel:hover {
  background: #f5f5f5;
  color: #28a745;
}
.offerwall-wrap .result-wrap .result-list .table th {
  text-align: center;
  vertical-align: middle;
}
.offerwall-wrap .result-wrap .result-list .table td {
  color: #333;
  vertical-align: middle;
}
.offerwall-wrap .modal {
  display: block;
  max-width: 100%;
}
.offerwall-wrap .modal .modal-dialog {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.offerwall-wrap .modal .modal-dialog.modal-sm {
  max-width: 400px;
}
.offerwall-wrap .modal .modal-content {
  border-radius: 16px;
}
.offerwall-wrap .modal .modal-content .modal-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 24px 0px 24px;
  border: 0;
}
.offerwall-wrap .modal .modal-content .modal-header h4 {
  font-size: 18px;
}
.offerwall-wrap .modal .modal-content .modal-body {
  padding: 24px 24px 25px;
}
.offerwall-wrap .modal .modal-content .modal-footer {
  border: 0;
  padding: 0px 24px 24px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offerwall-wrap .nav-tabs .nav-link {
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #9d9d9d;
  background: #f5f5f5;
  border-bottom: 1px solid #dee2e6;
  width: 150px;
  text-align: center;
}
.offerwall-wrap .nav-tabs .nav-link.active {
  color: #222;
  background: #fff;
  border-bottom: 1px solid transparent;
}
.offerwall-wrap i {
  color: inherit;
}
.offerwall-wrap .infobox {
  background: #f5f5f5;
  padding: 30px;
}
.offerwall-wrap .infobox p {
  margin: 0;
}
.offerwall-wrap .btn-warning {
  background-color: #FF8833;
  border-color: #FF8833;
  color: #fff;
}
.offerwall-wrap .btn-warning:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 136, 51, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 136, 51, 0.5);
}
.offerwall-wrap .btn-warning:not(:disabled):not(.disabled):active:focus {
  background-color: #e97421;
  border-color: #e97421;
  color: #fff;
}
.offerwall-wrap .form-control:focus,
.offerwall-wrap button[class*=btn-]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.offerwall-wrap .picker-calendar-month.record p.data-choice span.total {
  display: none;
}
.offerwall-wrap .pdf {
  border: 1px solid #ddd;
  padding: 50px;
  margin: 50px;
}
.offerwall-wrap .pdf .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.offerwall-wrap .pdf .header .logo img {
  width: 150px;
}
.offerwall-wrap .pdf .header .logo.hiclass img {
  width: 100px;
}
.offerwall-wrap .pdf .header .title {
  font-size: 30px;
  font-weight: 600;
  margin-right: 8px;
}
.offerwall-wrap .pdf .info-wrap {
  padding: 30px 0;
}
.offerwall-wrap .pdf .info-wrap .info-box {
  background-color: #f5f5f5;
  padding: 20px;
}
.offerwall-wrap .pdf .info-wrap .info-box .info-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}
.offerwall-wrap .pdf .info-wrap .info-box .info-list {
  padding: 0;
}
.offerwall-wrap .pdf .info-wrap .info-box .info-list li {
  padding: 6px 0;
}
.offerwall-wrap .pdf .info-wrap .info-list {
  padding-left: 20px;
}
.offerwall-wrap .pdf .info-wrap .info-list li {
  padding: 8px 0;
}
.offerwall-wrap .pdf .info-wrap .info-list li span {
  display: inline-block;
  width: 100px;
  color: #666;
}
.offerwall-wrap .table-sticky {
  max-height: 500px;
  overflow: auto;
}
.offerwall-wrap .table-sticky::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.offerwall-wrap .table-sticky::-webkit-scrollbar-thumb {
  background: #d3d1cb;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 10px;
}
.offerwall-wrap .table-sticky::-webkit-scrollbar-track {
  background-color: transparent;
}
.offerwall-wrap .table-sticky table {
  border: 0px;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
}
.offerwall-wrap .table-sticky table thead {
  position: sticky;
  top: 0;
}
.offerwall-wrap .table-sticky table tbody td {
  border-left-width: 0;
  border-right: 1px solid #dee2e6;
  border-top-width: 0;
  border-bottom: 1px solid #dee2e6;
}
.offerwall-wrap .table-sticky table tbody td:first-child {
  border-left: 1px solid #dee2e6;
}
.offerwall-wrap .calendar__layer .calendar__top {
  background-color: #007bff;
  border-bottom: 1px solid #007bff;
}
.offerwall-wrap .calendar__layer .calendar__top .btn-today {
  color: #007bff;
  border: 1px solid #007bff;
  background: #fff;
}
.offerwall-wrap .calendar__layer .calendar__table table tbody td:first-child,
.offerwall-wrap .calendar__layer .calendar__table table tbody td:last-child {
  color: #9e9e9e;
}
.offerwall-wrap .calendar__layer .calendar__table table tbody td.today {
  color: #007bff;
}
.offerwall-wrap .calendar__layer .calendar__table table tbody td.today.is-selected:before {
  background: #FFF8F0;
}
.offerwall-wrap .calendar__layer .calendar__table table tbody td.is-selected {
  color: #007bff;
}
.offerwall-wrap .calendar__layer .calendar__table table tbody td.is-selected:before {
  background-color: #e6eeff;
}/*# sourceMappingURL=offerwall.css.map */