@charset "UTF-8";
 
body.worksheet {
    overflow: auto;
    background-color: #f4f5f9;
}

/* common */
.worksheet .border-selectbox-wrap {
    position: relative;
    text-align: left;
}
.worksheet .border-selectbox-wrap .selected-option {
    position: relative;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 0 30px 0 15px;
    background-color: #fff;
}
.worksheet .border-selectbox-wrap .selected-option .option-val {
    height: 34px;
    line-height: 34px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #444;
    font-size: 16px;
}
.worksheet .border-selectbox-wrap .selected-option .option-val.placeholder {
    color: #888;
}
.worksheet .border-selectbox-wrap.selected .selected-option {
    border-color: #4777de;
}
.worksheet .border-selectbox-wrap.selected .option-list-wrap {
    display: block;
    overflow-y: auto;
    height: auto;
    max-height: 240px;
}
.worksheet .border-selectbox-wrap .option-list-wrap {
    z-index: 2;
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    overflow: hidden;
}
.worksheet .border-selectbox-wrap .option-list-wrap li.selected .option-item {
    color: #0477de;
}
.worksheet .border-selectbox-wrap .option-list-wrap li .option-item {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #e8e8e8;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.worksheet .border-selectbox-wrap .option-list-wrap li:last-child .option-item {
    border: 0;
}
.worksheet .border-selectbox-wrap .option-list-wrap li:hover {
    background-color: #dae4f8;
    cursor: pointer;
}
.worksheet .border-selectbox-wrap.dis .selected-option {
    border-color: #f3f3f0;
    background:#fbfbf8;
    cursor: default;
}

.worksheet [class*="btn-bg"].dis,
.worksheet [class*="btn-bg"]:disabled {
    background-color: #dadde2;
    cursor: default;
    color: #fff;
    border-color: #dadde2;
} 
.worksheet .btn-bg-c {
    color: #fff;
    background-color: #4777de; 
}
.worksheet .btn-bg-w {
    background-color: transparent;
    border: 1px solid #aaa;
    color: #444;
}
.worksheet .btn-bg-w2 {
    background-color: transparent;
    border: 1px solid #4777de;
    color: #4777de;
}
.worksheet .btn-bg-g {
    background-color: #a1a6b2;
    color: #fff;
}
.worksheet .btn-download {
    text-decoration: none;
}
.worksheet .btn-download::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: -30px -90px;
    margin-right: 8px;
    vertical-align: middle;
}
.worksheet .btn-print::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: -60px -90px;
    margin-right: 8px;
    vertical-align: middle;
}
.worksheet .btn-hitalkshare::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../img/icon/icon_hitalkshare.svg") 0 0 / 18px 18px no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}
.worksheet .btn-attachment::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 17px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: 0 -90px;
    margin-right: 8px;
    vertical-align: middle;
}
.worksheet .btn-attachment + input {
    position: fixed;
    width: 0;
    height: 0;
    left: -9999px;
    z-index: -1;
}

.worksheet .ft-blue {
    color: #4777de !important;
}

/* layout */
.worksheet-header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #f4f5f9;
    border-bottom: 1px solid #cdd0d4;
}
.worksheet-header .title {
    color: #232323;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    line-height: 70px;
}
.worksheet-header .left {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    line-height: 76px;
    padding: 0 22px;
}
.worksheet-header .select-wrap {
    position: relative;
    display: inline-block;
}
.worksheet-header .select-wrap .select-list {
    z-index: 1;
    position: absolute;
    top: 42px;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.2);
}
.worksheet-header .select-wrap .select-list .item {
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
}
.worksheet-header .select-wrap .select-list .item button {
    width: 200px;
    color: #444;
    font-size: 16px;
    text-align: left;
    line-height: 40px;
    padding: 0 15px;
}
.worksheet-header .select-wrap .select-list .item:hover {
    background-color: #dae4f8;
}
.worksheet-header .select-wrap .select-list .item:hover button {
    color: #4777de;
}
.worksheet-header .right {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
    line-height: 70px;
    padding: 0 22px;
}
.worksheet-header .border-selectbox-wrap {
    display: inline-block;
    width: 208px;
    vertical-align: middle;
}
.worksheet-header .border-selectbox-wrap .selected-option .option-val {
    height: 36px;
    line-height: 36px;
}
.worksheet-header .border-selectbox-wrap .option-list-wrap {
    top: 38px;
}
.worksheet-header [class*="btn-bg"] {
    cursor: pointer;
    display: inline-block;
    min-width: 96px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 12px;
    border-radius: 4px;
    vertical-align: middle;
}
.worksheet-header [class*="btn-bg"]::before {
    margin-top: -2px;
}
.worksheet-header .left [class*="btn-bg"] {
    margin-right: 8px;
}
.worksheet-header .right [class*="btn-bg"] {
    margin-left: 8px;
}
.worksheet-header .right .btn-bg-r::before {
    content: "!";
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    vertical-align: middle;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
}
.worksheet-header .right .btn-status-complete {
    background-color: #a1a6b2;
}
.worksheet-header .right .btn-status-complete::before {
    display: none;
}
.worksheet-header .right .status {
    display: inline-block;
    min-width: 70px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 38px;
    padding: 0 15px;
    vertical-align: middle;
}
.worksheet-header .btn-close {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: -60px -60px;
    margin-left: 22px;
    vertical-align: middle;
}
.worksheet-header .top-attachment-wrap {
    height: 64px;
    background-color: #ebedf5;
    border-bottom: 1px solid #d9dbdf;
}
.worksheet-header .top-attachment-inner {
    width: 910px;
    margin: 0 auto;
}
.worksheet-header .top-attachment-wrap .item {
    position: relative;
    height: 36px;
    padding: 0 36px 0 20px;
    background-color: #d9ddeb;
    border-radius: 36px;
    margin: 14px 5px;
}
.worksheet-header .top-attachment-wrap .item span {
    display: inline-block;
    color: #4777de;
    font-size: 15px; 
    line-height: 36px;
    vertical-align: top;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.worksheet-header .top-attachment-wrap .item[role="button"]:hover {
    background-color: #fff;
}
.worksheet-header .top-attachment-wrap .item .btn-del {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: 0 -60px;
}
.worksheet-header .top-attachment-wrap .item .btn-del:hover {
    background-color: #f4f5f9;
    border-radius: 50%;
}
.worksheet-header .top-attachment-wrap .slick-arrow {
    position: absolute;
    top: 50%;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    width: 13px;
    height: 22px;
    text-indent: -999em;
    margin-top: -11px;
}
.worksheet-header .top-attachment-wrap .slick-prev {
    left: -30px;
    background-position: 0 -30px;
} 
.worksheet-header .top-attachment-wrap .slick-next {
    right: -30px;
    background-position: -30px -30px;
}
.worksheet-header .top-attachment-wrap .slick-disabled {
    opacity: .4;
}

.worksheet-container {
    padding-top: 70px;
}
.worksheet-container iframe {
    display: block;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #fff;
    margin: 0;
    padding: 0;
    border: none;
}
.worksheet-container.add-top-attachment {
    padding-top: 134px;
}
.worksheet-container.add-top-attachment iframe {
    height: calc(100vh - (70px + 64px));
}
.worksheet-container .content {
    width: 990px;
    background-color: #fff;
    border: 1px solid #e1e2e5 ;
    border-radius: 5px;
    padding: 50px;
    margin: 30px auto 70px;
}
.worksheet-container [class*="btn-bg"] {
    height: 36px;
    font-size: 16px;
    border-radius: 4px;
    padding: 0 15px;
    vertical-align: top;
}
.worksheet-form-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}
.worksheet-form-title:not(:first-of-type) {
    padding-top: 58px;
}
.worksheet-form-title strong {
    color: #010101;
    font-size: 20px;
    font-weight: 800;
}
.worksheet-form-title strong::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 5px solid #4777de;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.worksheet-form-list{display: flex; flex-wrap: wrap;}
.worksheet-form-list .item { 
    width:100%;
    position: relative;
    min-height: 56px;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
    padding-left: 180px;
}
.worksheet-form-list .item.half { width: 50%;}
.worksheet-form-list .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    word-wrap: break-word;
    padding: 17px 0 17px 26px;
}
.worksheet-form-list .required::after {
    content: "*";
    color: #ff6a6a;
}
.worksheet-form-list .text {
    width: 100%;
    font-size: 0;
}
.worksheet-form-list .text span {
    display: inline-block;
    color: #444;
    font-size: 16px;
    line-height: 1.4;
    word-break: break-all;
    padding: 7px 0;
}
.worksheet-form-list input[type="text"] {
    width: 253px;
    height: 34px;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;    
}
.worksheet-form-list textarea {
    width: 100%;
    height: 90px;
    font-size: 16px;
    line-height: 1.4;
    padding: 15px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;  
}
.worksheet-form-list .border-selectbox-wrap {
    display: inline-block;
    width: 253px;
    margin-right: 5px;
}
.worksheet-form-file-wrap {
    background-color: #f9f9f9;
    border: 1px solid #e1e2e5;
    border-radius: 4px;
    margin-top: 10px;
}
.worksheet-form-file-wrap .file-drag-area-wrap input[type="file"] {
    position: fixed;
    width: 0;
    height: 0;
    left: -9999px;
    z-index: -1;
}
.worksheet-form-file-wrap .file-drag-area-wrap .file-drag-area {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 160px;
    color: #888;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.worksheet-form-file-wrap .upload-file {
    padding: 30px 39px 20px;
}
.worksheet-form-file-wrap .upload-file .file-name {
    display: inline-block;
    color: #444;
    font-size: 16px;
    line-height: 36px;
    margin-right: 10px;
}
.worksheet-form-file-wrap .btn-bg-w + input[type="file"] {
    position: fixed;
    width: 0;
    height: 0;
    left: -9999px;
    z-index: -1;
}
.worksheet-form-file-wrap .upload-file .checkbox-wrap {
    margin: 15px 0 35px;
}
.worksheet-form-file-wrap .upload-file input[type=checkbox] + label span {
    position: relative;
    display: inline-block;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}
.worksheet-form-file-wrap .upload-file input[type=checkbox] + label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: -60px 0;
    vertical-align: middle;
}
.worksheet-form-file-wrap .upload-file input[type=checkbox]:checked + label::before {
    background-position: -90px 0;
}
.worksheet-form-file-wrap .file-list {
    font-size: 0;
    margin: 0 -10px;
}
.worksheet-form-file-wrap .file-list .item {
    position: relative;
    display: inline-block;
    width: 256px;
    height: 361px;
    background-color: #fff;
    margin: 0 10px 20px;
    vertical-align: top;
}
.worksheet-form-file-wrap .file-list input[type=checkbox] + label {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
.worksheet-form-file-wrap .file-list input[type=checkbox] + label::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: -60px 0;
    vertical-align: middle;
}
.worksheet-form-file-wrap .file-list .item img {
    position: absolute;
    top: 50%; 
    left: 50%; 
    max-width: 100%;
    max-height: 100%;
    width: auto; 
    height: auto; 
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);
}
.worksheet-bottom-wrap {
    text-align: center;
    margin-top: 20px;
    width: 100%;
} 
.worksheet-bottom-wrap [class*="btn-bg"] {
    min-width: 360px;
    height: 58px;
    border-radius: 58px;
    font-size: 20px;
}

/*  modal popup */
/* modal popup > worksheet form list */
.common-modal .worksheet-form-list {
    padding: 0 30px;
    margin-bottom: 20px;
}
.common-modal .worksheet-form-list .item {
    padding-left: 150px;
}
.common-modal .worksheet-form-list .title {
    width: 150px;
    text-align: left;
    padding: 17px;
}
.common-modal .worksheet-form-list .text {
    text-align: left;
}
.common-modal .worksheet-form-list input[type="text"] {
    width: 100%;
}
/* modal popup : 우리학교 신청서 양식 */
.school-form-list-modal {
    z-index: 10000;
}
.school-form-list-modal .modal-cont-wrap .boundary-box {
    position: relative;
    width: 1400px;
    background-color: #fff;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.school-form-list-modal .modal-title-wrap {
    height: 58px;
    background-color: #2b3c61;
}
.school-form-list-modal .modal-title-wrap .title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 58px;
}
.school-form-list-modal .modal-close-icon {
    top: 16px;
    right: 20px;
}
.school-form-list-modal .school-form-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}
.school-form-list-modal .empty {
    color: #b4b4b4;
    font-size: 16px;
    line-height: 1.6;
}
.school-form-list-modal .left {
    float: left;
    width: 390px;
    height: 100%;
    border-right: 1px solid #e3e3e3;
}
.school-form-list-modal .left .top-wrap {
    height: 56px;
    background-color: #f8f8f8;
    padding: 0 20px;
}
.school-form-list-modal .left .top-wrap .round-search-box {
    float: right;
    width: 100%;
    margin: 10px 0;
}
.school-form-list-modal .left .list-wrap {
    overflow: scroll;
    height: 604px;
    background-color: #fcfcfc;
    padding: 10px 15px 20px 20px;
    border-top: 1px solid #eee;
}
.school-form-list-modal .left .list-wrap .sort-wrap {
    float: left;
    margin-bottom: 5px;
}
.school-form-list-modal .left .list-wrap .btn-sort {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 32px;
}
.school-form-list-modal .left .list-wrap .btn-sort.on {
    color: #010101;
    font-weight: 500;
}
.school-form-list-modal .left .list-wrap .btn-sort:first-of-type {
    min-width: 52px;
}
.school-form-list-modal .left .list-wrap .btn-sort:not(:first-of-type)::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #dfdfdf;
    vertical-align: middle;
    margin: 0 12px 0 8px;
}
.school-form-list-modal .left .list-wrap .btn-sort.on.down::after {
    content: "↓";
}
.school-form-list-modal .left .list-wrap .btn-sort.on::after {
    content: "↑";
}
.school-form-list-modal .left .list-wrap .hi-selectbox {
    float: right;
    width: 160px;
}
// .school-form-list-modal .left .list-wrap .custom-select-box-wrap {
//     float: right;
//     width: 160px;
// }
// .school-form-list-modal .left .list-wrap .border-selectbox-wrap .selected-option .option-val {
//     height: 30px;
//     line-height: 30px;
//     font-size: 14px;
// }
.school-form-list-modal .left .checkbox-wrap {
    clear: both;
    text-align: right;
}
.school-form-list-modal .left input[type=checkbox] + label::before {
    content: "";
    display: inline-block;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    width: 12px;
    min-width: 12px;
    height: 12px;
    background-size: 75px auto;
    background-position: -30px 0;
}
.school-form-list-modal .left input[type=checkbox]:checked + label:before {
    background-position: -45px 0;
}
.school-form-list-modal .left .dot-more-btn-wrap {
    top: 10px;
    right: 5px;
}
.school-form-list-modal .left .dot-more-btn-wrap .more-popup-wrap {
    left: inherit;
    right: 0;
}
.school-form-list-modal .left .dot-more-btn-wrap .more-popup-wrap button::before {
    display: none;
}
.school-form-list-modal .left .dot-more-btn-wrap .more-popup-wrap button span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.school-form-list-modal .left input[type=checkbox] + label span {
    font-size: 13px;
}
.school-form-list-modal .left .school-form-list .item {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    text-align: left;
    padding: 32px 15px 18px;
    border: 1px solid #d4d4d4;
    border-radius: 0 4px 4px 4px;
    margin-top: 8px;
}
.school-form-list-modal .left .school-form-list .item.on {
    border-color: #4777de;
    box-shadow: 0 4px 12px rgba(50,89,174,.1);
}
.school-form-list-modal .left .school-form-list .label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3c46ab;
    color: #fff;
    font-size: 12px;
    padding: 6px;
    border-radius: 0 0 4px 0;
}
.school-form-list-modal .left .school-form-list .label.absence {
    background-color: #6e44ff;
}
.school-form-list-modal .left .school-form-list .label.fieldtrip {
    background-color: #00c957;
}
.school-form-list-modal .left .school-form-list .label.consent {
    background-color: #4778DE;
}
// #69550 투약의뢰서 라벨 추가
.school-form-list-modal .left .school-form-list .label.medication {
    background-color: #FFAE00;
}
.school-form-list-modal .left .school-form-list .title {
    display: block;
    color: #232323;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    word-break: break-all;
}
.school-form-list-modal .left .school-form-list .desc {
    color: #888;
    font-size: 16px;
    line-height: 1.4;
    word-break: break-all;
    margin-top: 10px;
}
.school-form-list-modal .left .school-form-list .info {
    display: block;
    margin-top: 18px;
}
.school-form-list-modal .left .school-form-list .info span {
    display: inline-block;
    color: #b4b4b4;
    font-size: 14px;
}
.school-form-list-modal .left .school-form-list .info span:not(:first-of-type) {
    padding-left: 10px;
    border-left: 1px solid #dfdfdf;
    margin-left: 10px;
}
.school-form-list-modal .right {
    float: right;
    overflow: auto;
    position: relative;
    width: 1010px;
    height: 660px;
}
.school-form-list-modal .right .preview-wrap {
    display: table;
    width: 100%;
    height: 100%;
}
.school-form-list-modal .right .preview-inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    background-color: #f9f9f9;
}
.school-form-list-modal .right .preview-inner iframe {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
.school-form-list-modal .right .preview-wrap .image { 
    display: none;
    max-width: 100%;
    height: auto;
    background-color: #f9f9f9;
}
.school-form-list-modal .left .empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 500px;
    border-top: 1px solid #dfdfdf;
    line-height: 2;
}
.school-form-list-modal .empty .text-result {
    display: block;
    color: #232323;
    font-size: 18px;
}
.school-form-list-modal .empty .text-result span {
    color: #4777de;
    font-size: 18px;
    font-weight: 800;
}
.school-form-list-modal .empty .text-result::before {
    content: "!";
    display: block;
    width: 56px;
    height: 56px;
    color: #d8d8d8;
    font-size: 32px;
    line-height: 60px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.school-form-list-modal .bottom {
    width: 600px;
    position: absolute;
    bottom: 30px;
    right: calc(1010px / 2 - 600px / 2);
}
.school-form-list-modal .bottom .btn-bg-c {
    width: 100%;
    height: 58px;
    border-radius: 58px;
    background-color: #4777de;
    font-size: 18px;
    box-shadow: 0 10px 20px rgba(37,84,184,.3);
}
.school-form-list-modal .bottom .btn-bg-c.dis {
    background-color: #dadde2;
    box-shadow: 0 10px 20px rgba(175,180,188,.3);
}

/* modal popup : IE 지원 안함 */
.notsupported-modal .modal-cont-wrap .boundary-box {
    width: 510px;
    padding: 60px 30px 40px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}
.notsupported-modal .modal-close-icon {
    top: 30px;
    right: 20px;
    background-image: url("../img/icon_modal_close_24.png");
} 
.notsupported-modal .notsupported-content-wrap {
    text-align: center;
}
.notsupported-modal .notsupported-content-wrap::before {
    content: "";
    display: inline-block;
    width: 92px;
    height: 76px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: 0 -120px;
}
.notsupported-modal .notsupported-content-wrap .desc {
    color: #232323;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.4;
    margin-top: 20px;
}
.notsupported-modal .notsupported-content-wrap .desc-sub {
    color: #888;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 20px;
}
.notsupported-modal .browser-list {
    font-size: 0;
    padding-top: 30px;
    margin: 0 -8px;
}
.notsupported-modal .browser-list li {
    width: calc(33% - 16px);
    display: inline-block;
    height: 165px;
    background-color: #f5f7fa;
    padding-top: 20px;
    border-radius: 10px;
    margin: 0 8px;
}
.notsupported-modal .browser-list li::before {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
}
.notsupported-modal .browser-list .chrome::before {
    background-position: right -120px;
}
.notsupported-modal .browser-list .whale::before {
    background-position: right -200px;
}
.notsupported-modal .browser-list .edge::before {
    background-position: 0 -200px;
}
.notsupported-modal .browser-list .name {
    display: block;
    color: #444;
    font-size: 16px;
    font-weight: 800;
    margin-top: 18px;
}
.notsupported-modal .browser-list .btn-download {
    display: inline-block;
    height: 28px;
    color: #888;
    font-size: 12px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #888;
    border-radius: 28px;
    margin-top: 6px;
}
.notsupported-modal .browser-list .btn-download::before {
    display: none;
}
.notsupported-modal .browser-list .btn-download::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url("../img/icon/icons_worksheet.png") no-repeat;
    background-position: -90px -90px;
    vertical-align: middle;
    margin-left: 4px;
}
.notsupported-modal .btn-wrap {
    margin-top: 20px;
}
.notsupported-modal .btn-wrap .btn-bg-c {
    width: 300px;
    height: 58px;
    font-size: 18px;
    border-radius: 58px;
}

