// 수업수정 슬라이드 모달
.lessonChangeSideModal {
  display: flex;
  flex-direction: column;
  // position: relative;
  :global(.side-modal-cont){
    margin-bottom: 90px;
  }
  :global(.btns){
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 8px;

    > button{
      width: 150px;
    }
  }
  :global(.h4-tit){
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--border-neutral-base);
    padding-bottom: 20px;
    h4{
      font-size: 18px;
    }
  }  
  :global(.form-group-inline){
    :global(.autocomplete-wrap){
      max-width: 320px;
      width: 100%;
    }
    :global(.hi-selectbox){
      max-width: 320px;
      width: 100%;
    }
    & + :global(.hi-nodata){
      height: 280px;
      border-radius: 12px;
      border: 1px solid var(--border-neutral-strong);
      margin: 30px 0 ;
    }
  }
}
