:root {
  --blue-50: #e8f3ff;
  --blue-100: #c0dfff;
  --blue-200: #9accff;
  --blue-300: #74b7ff;
  --blue-400: #5ca7ff;
  --blue-500: #4d98ff;
  --blue-600: #4b89f2;
  --blue-700: #4777de; /* base */
  --blue-800: #4365cb;
  --blue-900: #3c46ab;
  --blue-950: #1e3284;

  --ocean-50: #f2f7fc;
  --ocean-100: #e3eaf6;
  --ocean-200: #cddcf0;
  --ocean-300: #b2cae9;
  --ocean-400: #83abde;
  --ocean-500: #608dd1;
  --ocean-600: #4c72c4;
  --ocean-700: #4867b5; /* base */
  --ocean-800: #3b5392;
  --ocean-900: #213567;
  --ocean-950: #192747;

  --slate-50: #f5f7fb;
  --slate-100: #ebeef4;
  --slate-200: #d5dbe8;
  --slate-300: #B8C4D8;
  --slate-400: #95a6c5;
  --slate-500: #7c8db5;
  --slate-600: #6a77a6;
  --slate-700: #5e6897;
  --slate-800: #50577d;
  --slate-900: #434965;
  --slate-950: #2c2e3f;

  --gray-0: #ffffff;
  --mint-50: #f1fcf9;
  --mint-100: #d0f7ee;
  --mint-200: #a0efdc;
  --mint-300: #69dfc7;
  --mint-400: #36bca6; /* base */
  --mint-500: #21ab97;
  --mint-600: #18897b;
  --mint-700: #176e64;
  --mint-800: #175852;
  --mint-900: #184944;
  --mint-950: #072c2a;

  --green-50: #eefff4;
  --green-100: #d7ffe7;
  --green-200: #b2ffd1;
  --green-300: #83f8b2;
  --green-400: #3bf086;
  --green-500: #09de61;
  --green-600: #00c853; /* base */
  --green-700: #049140;
  --green-800: #0a7136;
  --green-900: #0a5d2f;
  --green-950: #003417;

  --yellow-50: #fffbeb;
  --yellow-100: #fff5d1;
  --yellow-200: #ffe588;
  --yellow-300: #ffd24a;
  --yellow-400: #ffbd20;
  --yellow-500: #ff9800;
  --yellow-600: #e27100;
  --yellow-700: #bb4c02;
  --yellow-800: #983a08;
  --yellow-900: #7c300b;
  --yellow-950: #481700;

  --orange-50: #fff6ed;
  --orange-100: #ffebd4;
  --orange-200: #ffd3a8;
  --orange-300: #ffb371;
  --orange-400: #ff8737; /* base */
  --orange-500: #fe6611;
  --orange-600: #ef4b07;
  --orange-700: #c63508;
  --orange-800: #9d2c0f;
  --orange-900: #7e2610;
  --orange-950: #441006;

  --gray-50: #fafafa;
  --gray-100: #f6f6f6;
  --gray-200: #f3f3f3;
  --gray-300: #eeeeee;
  --gray-400: #e0e0e0;
  --gray-500: #d6d6d6;
  --gray-600: #bdbdbd;
  --gray-700: #9e9e9e;
  --gray-800: #616161;
  --gray-900: #3a3a3a;
  --gray-950: #1b1b1b;
  --gray-1000: #000000;

  --red-50: #fff1f2;
  --red-100: #ffe0e2;
  --red-200: #ffc6ca;
  --red-300: #ff9ea5;
  --red-400: #ff6670;
  --red-500: #fd3644;
  --red-600: #ec1f2d; /* base */
  --red-700: #c60f1b;
  --red-800: #a4101a;
  --red-900: #87151d;
  --red-950: #4a050a;

  --alpha-blue-80: rgba(71, 119, 222, 0.8);
  --alpha-blue-60: rgba(71, 119, 222, 0.6);
  --alpha-blue-40: rgba(71, 119, 222, 0.4);
  --alpha-blue-20: rgba(71, 119, 222, 0.2);
  --alpha-blue-10: rgba(71, 119, 222, 0.1);
  --alpha-black-80: rgba(0, 0, 0, 0.8);
  --alpha-black-60: rgba(0, 0, 0, 0.6);
  --alpha-black-40: rgba(0, 0, 0, 0.4);
  --alpha-black-20: rgba(0, 0, 0, 0.2);
  --alpha-black-10: rgba(0, 0, 0, 0.1);
  --alpha-white-80: rgba(255, 255, 255, 0.8);
  --alpha-white-60: rgba(255, 255, 255, 0.6);
  --alpha-white-40: rgba(255, 255, 255, 0.4);
  --alpha-white-20: rgba(255, 255, 255, 0.2);
  --alpha-white-10: rgba(255, 255, 255, 0.1);
  
  --number-0: 0px;
  --number-05: 2px;
  --number-1: 4px;
  --number-15: 6px;
  --number-2: 8px;
  --number-25: 10px;
  --number-3: 12px;
  --number-35: 14px;
  --number-4: 16px;
  --number-5: 20px;
  --number-6: 24px;
  --number-7: 28px;
  --number-8: 32px;
  --number-9: 36px;
  --number-10: 40px;
  --number-11: 44px;
  --number-12: 48px;
  --number-13: 52px;
  --number-14: 56px;
  --number-15: 60px;
  --number-16: 64px;
  --number-20: 80px;
  --number-24: 96px;
  --number-max: 1000px;

  --typo-font-pretendard-variable: "Pretendard Variable";
  --typo-weight-thin: 100px;
  --typo-spacing-tighter: -0.800000011920929px;
  --typo-spacing-tight: -0.4000000059604645px;
  --typo-spacing-normal: 0px;
  --typo-spacing-wide: 0.4000000059604645px;
  --typo-spacing-wider: 0.800000011920929px;
  --typo-spacing-widest: 1.600000023841858px;
  
  --typo-weight-extralight: 200;
  --typo-weight-light: 300;
  --typo-weight-regular: 400;
  --typo-weight-medium: 500;
  --typo-weight-semibold: 600;
  --typo-weight-bold: 700;
  --typo-weight-extrabold: 800;
  --typo-weight-black: 900;
}
