.badge {
  display: inline-block;
  padding: 0 6px;
  border-radius: 24px;
  font-weight: --font-weight-normal;
  text-align: center;
  white-space: nowrap;
  &.sm {
  }
  // 사이즈 미지정
  &.md {
  }
  // 사이즈 미지정
  &.lg {
  }
  &.purple {
    background-color: var(--graphic-lavender);
    color: var(--text-base);
  }
  &.primary {
    background-color: var(--bg-primary-base);
    color: var(--text-base);
  }
  &.secondary {
    background-color: var(--bg-secondary-base);
    color: var(--text-base);
  }
  &.noti {
    background-color: var(--graphic-coral);
    color: var(--text-base);
  }
}
