.option-layer { 
  min-width: 100%;
  background: var(--bg-base);
  border: 1px solid var(--border-neutral-base);
  border-radius: 8px;  
}  
.option-list{ 
  min-width: 100%;
  max-height: 232px;
  padding: 16px 6px 16px 16px;
  overflow-y: scroll;     
}
.item{      
  padding: 8px 16px;
  border-radius: var(--ctl-md-r);
  font-size: var(--ctl-md-f);          
  min-height: var(--ctl-md-h);
  line-height: 160%;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &.selected,
  &:hover:not(.hi-nodata){
    background: var(--bg-neutral-subtler);
  }
}
.hi-nodata{
  padding:8px 0;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.option-footer{
  border-radius: 0 0 8px 8px;
  border-top: 1px solid var(--border-neutral-subtle);  
}
.option-list.sm > .item {
  min-height: var(--ctl-xs-h);
  border-radius: var(--ctl-sm-r);
  font-size: var(--ctl-sm-f);
  padding: 4px 16px;
}
.option-list.md .item{
  min-height: var(--ctl-md-h);
  border-radius: var(--ctl-md-r);
  font-size: var(--ctl-md-f);
  padding: 8px 16px;
}
.option-list.lg .item{
  min-height: var(--ctl-lg-h);
  border-radius: var(--ctl-lg-r);
  font-size: var(--ctl-lg-f);
  padding: 12px 16px;
}
.option-list.xl .item{
  min-height: var(--ctl-xl-h);
  border-radius: var(--ctl-xl-r);
  font-size: var(--ctl-xl-f);
  padding: 12px 16px;
}